<div class="content" *ngIf="successful">
  <mat-accordion>
    <h1>Questions</h1>
    <mat-expansion-panel *ngFor="let question of questions">
      <mat-expansion-panel-header>
        <mat-panel-title> {{ question.text }} </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngIf="question.style == 'TEXT'">
        <p style="width: 100%" *ngFor="let answer of question.answers">
          {{ answer.text }}
        </p>
      </div>
      <div *ngIf="question.style == 'YESNO'">
        <apx-chart
          class="center"
          style="width: 30%"
          [series]="question.series"
          [chart]="pieChart"
          [responsive]="responsive"
          [labels]="pieLabels"
        ></apx-chart>
      </div>
      <div *ngIf="question.style == 'ONETOTEN'">
        <apx-chart
          class="center"
          style="width: 50%"
          [series]="question.series"
          [chart]="barChart"
          [responsive]="responsive"
          [labels]="barLabels"
          [plotOptions]="plotOptions"
        ></apx-chart>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <button
    mat-raised-button
    style="margin-top: 2%"
    color="primary"
    [routerLink]="'/dashboard'"
  >
    Go to dashboard
  </button>
</div>

<div class="content" *ngIf="!successful">
  <p>{{ errorText }}</p>
</div>
