<form>
  <mat-form-field class="formfield">
    <mat-label>Username</mat-label>
    <input matInput [formControl]="usernameFormControl" />
    <mat-error *ngIf="usernameFormControl.hasError('required')">
      Username is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="usernameFormControl.hasError('minlength')">
      The username must be at least 3 characters long
    </mat-error>
    <mat-error *ngIf="usernameFormControl.hasError('maxlength')">
      The username can be a maximum of 20 characters long
    </mat-error>
  </mat-form-field>
  <mat-form-field class="formfield">
    <mat-label>Password</mat-label>
    <input type="password" matInput [formControl]="passwordFormControl" />
    <mat-error *ngIf="passwordFormControl.hasError('required')">
      Password is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="passwordFormControl.hasError('minlength')">
      The password must be at least 6 characters long
    </mat-error>
    <mat-error *ngIf="passwordFormControl.hasError('maxlength')">
      The password can be a maximum of 40 characters long
    </mat-error>
  </mat-form-field>
  <div class="formfield">
    <button
      mat-raised-button
      color="primary"
      matStepperNext
      (click)="onSubmit()"
      style="margin-left: 1%"
    >
      Submit
    </button>
  </div>
</form>

<div class="formfield" *ngIf="submitted">
  <div *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="!loading && successful">
    <p>User successfully created!</p>
    <button
      mat-raised-button
      color="primary"
      style="margin-bottom: 2%"
      [routerLink]="'/login'"
    >
      Go to the login page
    </button>
  </div>
  <div *ngIf="!loading && !successful">
    <p>Something went wrong!</p>
    <p>({{ errorText }})</p>
  </div>
</div>
