.button {
  display: flex;
  margin-left: 10%;
  margin-top: 2%;
}

.addbutton {
  display: flex;
  margin-left: 85%;
  margin-top: 2%;
}

::ng-deep .mat-horizontal-stepper-header {
  pointer-events: none !important;
}
