<mat-toolbar color="primary">
  <span (click)="onLogoClick()" style="cursor: pointer">SimpleSurvey</span>
  <span class="spacer"></span>
  <button mat-button [routerLink]="''">Home</button>
  <button mat-button *ngIf="isLoggedIn" [routerLink]="'/dashboard'">
    Dashboard
  </button>
  <button mat-button *ngIf="isLoggedIn" [routerLink]="'/fillout'">
    Fill out survey
  </button>
  <button mat-button *ngIf="isLoggedIn" [routerLink]="'/profile'">
    {{ username }}
    <mat-icon>account_box</mat-icon>
  </button>
  <button mat-button *ngIf="!isLoggedIn" [routerLink]="'/login'">Login</button>
</mat-toolbar>
