<div class="content" *ngIf="currentUser; else loggedOut">
  <h3>
    <strong>Welcome, {{ currentUser.username }}!</strong>
  </h3>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Token:</mat-panel-title>
      <mat-panel-description> Click here to reveal </mat-panel-description>
    </mat-expansion-panel-header>
    <p>{{ currentUser.token }}</p>
  </mat-expansion-panel>
  <button
    mat-raised-button
    color="warn"
    (click)="logout()"
    style="margin-top: 2%"
  >
    Logout
  </button>
</div>

<ng-template #loggedOut>
  <p class="content">Please log in to view this site.</p>
</ng-template>
