html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.center {
  display: table;
  margin: 0 auto;
}

.content {
  width: 80%;
  margin-left: 10%;
  margin-top: 2%;
}
